<% provide(:title, "Home") %>
<% if logged_in? %>
<div class="row">
	<div class="col-md-4" >
		<div class="homepost" >
			<section class="post_form">
				<%= render 'shared/post_form' %>
			</section>
		</div>
	</div>
	<div class="col-md-5">
		<h3 id ="homeh">Post Feed</h3>
		<%= render 'shared/feed' %>
	</div>
	<div class="col-md-3" >
		<div  >
			<div  style ="text-align: center;">
				<h1 class ="topichead" >Topics</h1>
			</div>
				<ul class = "topics2" s>
				<% @tags.order('Posts_count DESC').first(10).each do |tag| %>
				<li class = "topics"><%= link_to tag.name, tag_path(tag.name) %></li>
				<% end %>
				<li class = "topics"><%= link_to "More Topics ..", tags_path %></li>
				</ul>
		</div>
	</div>
</div>
<% else %>

<div style="background:transparent !important" class="center jumbotron">
	<h1 id="h1home">Welcome to Pets World</h1>
	<%= link_to "Login", login_path, class: "btn btn-lg btn-primary"  %>
	<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"  %>
</div>
<%#= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>
<% end %>