<div>
	<li>
		<%= image_tag comment.user.picture.thumb.url  if comment.user.picture?  %>
		<span ><small><%= link_to comment.user.user_name, comment.user %></small></span><br>
		<%= comment.body %><br>
		<small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
		<% if current_user?(comment.user) %>
		, <%= link_to "delete", post_comment_path(post,comment) , method: :delete, data: { confirm: 'Are you sure?' } ,remote: true, :class => 'delete_comment' %>
		<% end %>
		<h5 id="replies_counter">Replies (<%= comment.comments.count %>)</h5>
		<ul>
			<% comment.comments.each do |reply| %>
			<div>
				<li><%= image_tag reply.user.picture.thumb.url  if reply.user.picture?  %>

					<span ><small><%= link_to reply.user.user_name, reply.user %></small></span><br>
					<%= reply.body %><br>
					<small>Submitted <%= time_ago_in_words(reply.created_at) %> ago</small>
					<% if current_user?(reply.user) %>
					, <%= link_to "delete", comment_comment_path(comment,reply), method: :delete, data: { confirm: 'Are you sure?' } ,remote: true, :class => 'delete_comment'%>
					<% end %>
				</li>
			</div>
			<% end %>
		</ul>
	</li>

	<%= form_for [comment, Comment.new] do |f| %>
					<li><%= image_tag current_user.picture.thumb.url  if current_user.picture?  %>

		<span >
			<small><%= link_to current_user.user_name, current_user %></small>
		</span>
		<br>
		<div class="field" style="color:black;"><%= f.text_area :body, placeholder: "Add a Reply" %>
			<br/>
			<%= f.submit "Reply" , class:"btn btn-primary" %>
		</div>
	</li>
	<% end %>

</div>