<%= form_for(@post, html: { multipart: true }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	<%= f.text_area :content, placeholder: "What's on your Mind ...." %>
</div>
<div>
	<%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
</div>
<span class="picture">
	<%= f.file_field :image %>
</span>
<%= f.submit "Post", class: "btn btn-primary" %>

<% end %>