<% provide(:title, 'All Tags') %>
<h1 style="color:#fff;font-family:Comic Sans MS, cursive, sans-serif;">All Tags</h1>

<%= form_tag(tags_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search],class: "form-control", placeholder: "Search Tags" %>
<%= submit_tag "Search" , :class => 'btn btn-primary' %>
<% end %>
<% if @tags.present? %>
<ul class="users" >
	<%= render @tags %>
</ul><% else %>
<h1 style="color:#fff;font-family:Comic Sans MS, cursive, sans-serif;">There are no tags have this name : <%= params[:search]%> </h1>

<% end %>



