
<li id="post-<%= post.id %>">
	<div class="posts_info">
  <%=   image_tag current_user.picture.thumb.url if current_user.picture?  %>
	<span class="user"><%= link_to post.user.user_name, post.user %></span>
	<div class = "post_content">
		<span class="content"><%=  simple_format(post.content.gsub(/\n/, '<br/>').gsub( / / ,'&nbsp;'))  %>
		<%=    image_tag post.picture.thumb.url  if post.picture? %>
		<div class="tags">
		tags :
			<%=raw tag_links(post.all_tags)%>
		</div>
	</span>
	</div>
	
	<span class="timestamp">
		Posted <%= link_to time_ago_in_words(post.created_at), post %> ago.
		<% if current_user?(post.user) %>
		<%= link_to "delete   ", post, method: :delete,
		data: { confirm: "You sure?" } %> ,
		<%= link_to "edit   ", edit_post_path(post) %>
		<% end %>
		<%= taggle_like_button(post,current_user)%>
		<% count=0%>
		<% User.all.each do |user| %>
		<% if user.likes?(post) %>
		<% count=count+1 %>
		<% end %>
		<% end%>
		<%if count!=0 %> 
		<%= count%>
		<%end%>

	</span >
	</div>
	<div class="comment" >
		<h4 id="comments_counter">Comments (<%= post.comments.count %>)</h4>
		<ul>
			<%= render partial: 'comments/comment', locals: {post: post}, collection: post.comments %>		
		</ul>
		<div>
			<%= form_for ([post, Comment.new]) do |f| %>
  <%=   image_tag current_user.picture.thumb.url if current_user.picture?  %>
									<span ><small><%= link_to current_user.user_name, current_user %></small></span>
			<div class="field" style="color:black;"><%= f.text_area :body, placeholder: "Add a comment" %><br/></div>
			<%= f.submit "Add Comment" , class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</li>