
<li id="post-<%= post.id %>">
	<%= link_to gravatar_for(post.user, size: 50), post.user %>
	<span class="user"><%= link_to post.user.user_name, post.user %></span>
	<span class="content"><%=  simple_format(post.content.gsub(/\n/, '<br/>').gsub( / / ,'&nbsp;'))  %>
		<%= image_tag post.image.url(:medium) if post.image? %>
		<div class="tags">
		<%=raw tag_links(post.all_tags)%>
		</div>
	</span>
	<span class="timestamp">
		Posted <%= link_to time_ago_in_words(post.created_at), post %> ago.
		<% if current_user?(post.user) %>
		<%= link_to "delete", post, method: :delete,
		data: { confirm: "You sure?" } %>
		<% end %>
	</span>
</li>