
<li id="post-<%= post.id %>">
	<%= link_to gravatar_for(post.user, size: 50), post.user %>
	<span class="user"><%= link_to post.user.user_name, post.user %></span>
	<span class="content"><%=  simple_format(post.content.gsub(/\n/, '<br/>').gsub( / / ,'&nbsp;'))  %>
		<%= image_tag post.image.url(:medium) if post.image? %>
		<div class="tags">
			<%=raw tag_links(post.all_tags)%>
		</div>
	</span>
	<span class="timestamp">
		Posted <%= link_to time_ago_in_words(post.created_at), post %> ago.
		<% if current_user?(post.user) %>
		<%= link_to "delete   ", post, method: :delete,
		data: { confirm: "You sure?" } %> ,
		<%= link_to "edit   ", edit_post_path(post) %>
		<% end %>
		<%= taggle_like_button(post,current_user)%>
		<% count=0%>
		<% User.all.each do |user| %>
		<% if user.likes?(post) %>
		<% count=count+1 %>
		<% end %>
		<% end%>
		<%if count!=0 %> 
		<%= count%>
		<%end%>

	</span >
	<div >
		<h4>Comments (<%= post.comments.count %>)</h4>
		<ul>
			<% post.comments.each do |comment| %>
			<%= render partial: 'comments/comment', collection: post.comments %>		
			<% end %>
		</ul>
		<div>
			<%= form_for [post, Comment.new] do |f| %>
			<%= link_to gravatar_for(current_user, size: 25), current_user %>
			<span ><small><%= link_to current_user.user_name, current_user %></small></span>
			<div class="field" style="color:black;"><%= f.text_area :body, placeholder: "Add a comment" %><br/></div>
			<%= f.submit "Add Comment" , class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</li>