<footer class="footer">
<small>
<%= link_to "Pets World", root_path %>
project by <%= link_to "CSED20", root_path %>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><%= link_to "News", root_path %></li>
</ul>
</nav>
</footer>