<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="http://www.iconj.com/ico/k/x/kx0uj9a3c4.ico" type="image/x-icon" />
	<title><%= yield(:title) %> | Pets World</title>
	<%= stylesheet_link_tag 'application', media: 'all',
	'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<% if !logged_in? %>
<body class="body-welcome">
	<% else %>
	<body>
		<% end %>  
		<%= render 'layouts/header' if logged_in? %>
		<div class="container">
			<% flash.each do |message_type, message| %>
			<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' if logged_in? %>
		</div>
	</body>
	</html>